/* header & footer */
header{ position:fixed; width: 100%; top:0; z-index: 100;}
header h1{width: 160px; padding: 5px 0 10px 10px;}
header h1 img{width: 100%;}
header .header_inner nav{width: 100%; background: #fff;position: absolute; left:0; top:0; 
    height: auto; overflow: hidden;  transition: all .5s;  }
header .header_inner nav.show{ height: 100vh; padding-top: 75px;}
header .header_inner nav.hide{ height: 0;}
header .header_inner nav ul li{width:100%; text-align: center; margin-bottom: 10px;}
header .header_inner nav ul li a{padding: 10px 0; transition:all .5s ;}
header .header_inner nav ul li a:hover{color: #be9155; font-weight: bold;}
header button{position: absolute; right: 20px;top:20px; cursor: pointer;background: none;}
header button .ico{ font-size: 1.5rem; }
header .active{color: orange;}


footer{background: #f5f5f5; padding: 0 15px 50px 15px;
    font-size: .85rem;}
footer .top_move{display: flex; width: 60px; height:60px;justify-content: center;align-items: center;
         background: #B8A080; color: #fff; border-radius: 50%; position:fixed;
         bottom: 50px; right: 10px; opacity: 0; transition: all .5s;
         z-index: 50;}
footer .top_move.up{ opacity: 0;}
footer .top_move.down{ opacity: 1;}
footer .footer_top{padding: 25px 0 30px 0; width: 80%; margin: 0 auto;
    display: flex; justify-content: space-between;}
footer .footer_top li a{font-size: .9rem;}
footer .footer_mid{display: flex; justify-content: space-between; margin-bottom: 30px;
    /* align-items: end; */
}
footer .footer_mid .address p{font-size: 1.1rem; font-weight: 500; margin-bottom: 10px;}
footer .footer_mid .sns ul{display: flex; gap: 10px;}
footer .footer_mid .sns ul li a{font-size: 2.1rem; color: #999;}
footer>p{color: #999; font-weight: 300;}


#content{background: #fff;}

nav a{font-size: 1.5rem; display: block; text-decoration: none; margin: 0 15px;color: #333;}
.active{color: orange;}







